# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- develop # Hexo 原项目分支名

pool:
  vmImage: 'Ubuntu-latest' # 运行环境

steps:
- task: NodeTool@0 # 安装NodeJS
  inputs:
    versionSpec: '10.x'
  displayName: 'Installing Node.js...'

- task: InstallSSHKey@0 # 导入SSH
  inputs:
    hostName: github.com ssh-rsa ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDMKuvAySBGxoxGO3Ci32anREpTVkpJET9HxcYyjjHdXREIcVVbgRYtW5bSELVr4ib1moty/fg5h+GlrYE1GULmElndGQcCD1tENESVKH3Nf/8NhTBfn26ZSmohnT0kvqtKGljin+k0UAIvLsMdbI9s5hVR2dMG5bbFMgBDls8KPEwggG6O45rA/G50IQ3hfFnwUaz3B/T/3pDuSHgl6W03j3ynY9rJsEsufnWchcQFcpL3wGjHmSe32jy6DWvXiBoLdpETOKh6pIxSng/LDz6E1XeP/d9IJP03NhAUcXOumFAxbq/1FH1r9vLcqKqVmj61us7j4QaBh9oLIf+r0sIJ0xGAu3Ty0vmdirXgW18513N8xn/i+dLKWQswv2GL4AXKhsktVWcqiGH8yivCBgo03JKC0tNsJcX79trl4z5LslZaLayiCZU5/PUc6gcO/NtkkVnV+sPDx6CI+aFdqAgCQAJzRzfD6VfZJ1bUgoLSivCJuo5ezphVn+M8UlbqY3s= xingwenfeng@DESKTOP-FMTF8CN # 对应known_hosts
    sshPublicKey: ssh-rsa ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDMKuvAySBGxoxGO3Ci32anREpTVkpJET9HxcYyjjHdXREIcVVbgRYtW5bSELVr4ib1moty/fg5h+GlrYE1GULmElndGQcCD1tENESVKH3Nf/8NhTBfn26ZSmohnT0kvqtKGljin+k0UAIvLsMdbI9s5hVR2dMG5bbFMgBDls8KPEwggG6O45rA/G50IQ3hfFnwUaz3B/T/3pDuSHgl6W03j3ynY9rJsEsufnWchcQFcpL3wGjHmSe32jy6DWvXiBoLdpETOKh6pIxSng/LDz6E1XeP/d9IJP03NhAUcXOumFAxbq/1FH1r9vLcqKqVmj61us7j4QaBh9oLIf+r0sIJ0xGAu3Ty0vmdirXgW18513N8xn/i+dLKWQswv2GL4AXKhsktVWcqiGH8yivCBgo03JKC0tNsJcX79trl4z5LslZaLayiCZU5/PUc6gcO/NtkkVnV+sPDx6CI+aFdqAgCQAJzRzfD6VfZJ1bUgoLSivCJuo5ezphVn+M8UlbqY3s= xingwenfeng@DESKTOP-FMTF8CN # 对应id_rsa.pub
    sshKeySecureFile: id_rsa # 对应私钥文件名
  displayName: 'Installing SSH...'

# 安装Hexo脚手架，Hexo依赖
- script: |
    npm install -g hexo-cli
    npm install
  displayName: 'Installing dependencies...'

# 清理（可选），生成public静态目录（可选）
- script: |
    hexo clean
    hexo g
  displayName: 'Building...'

# 这里由于我有两个page托管仓库需要部署，所以需要添加 git.dev.tencent.com 的 fingerprint 到 known_hosts
- script: |
    # ssh-keyscan -t rsa git.dev.tencent.com >> ~/.ssh/known_hosts
    git config --global user.name "bearfighting"
    git config --global user.email "florentxingwenfeng@hotmail.com"
    hexo d
  displayName: 'Deploying...'